*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header
{
    background-image:linear-gradient(#0c2e106e,rgba(0, 0, 0, 0.5)) , url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
ul
{
    list-style-type: none;
    float: right;
    margin-top: 40px;
}
ul li
{
    display: inline-block;
    margin-right: 10px;
    
}
ul li a
{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    
}
ul li a:hover
{
    background-color: white;
    color: black;
}
.logo img
{
    float: left;
    width: 150px;
    height: auto;
    margin-top: 25px;
    margin-left: 20px;
}
main
{
    max-width: 1200px;
    margin: auto;
}
.title
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1
{
    color: white;
    font-size: 50px;
}
.button
{
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%,-50%);
}
.button a
{
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 5px;
    transition: 0.3,linear;
    border-radius: 6px;
}
.button a:hover
{
    color: tomato;
    background-color: white;
}
.photo
{
    
    position: absolute;
    top: 50%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
}